<div class="container-md">
	<footer
		class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
	>
		<p class="col-md-4 mb-0 text-body-secondary">
			<a
				class="nav-link text-body-secondary"
				href="https://github.com/Ahmedreda122"
				>© 2023 AhmadReda122</a
			>
		</p>

		{% comment %}
		<svg class="bi me-2" width="40" height="32">
			<use xlink:href="#bootstrap"></use>
		</svg>
		{% endcomment %} {% comment %}
		<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
			<li class="ms-3">
				<a class="text-body-secondary" href="#"
					><svg class="bi" width="24" height="24">
						<use xlink:href="#twitter"></use></svg
				></a>
			</li>
			<li class="ms-3">
				<a class="text-body-secondary" href="#"
					><svg class="bi" width="24" height="24">
						<use xlink:href="#instagram"></use></svg
				></a>
			</li>
			<li class="ms-3">
				<a class="text-body-secondary" href="#"
					><svg class="bi" width="24" height="24">
						<use xlink:href="#facebook"></use></svg
				></a>
			</li>
		</ul>
		{% endcomment %}
	</footer>
</div>
